.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___information {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
  border-radius: 3px/6px;
  padding: 15px;
}

.fighter-preview___name {
  font-size: 22px;
  text-align: center;
  margin: 0;
}

.fighter-preview___characteristic {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
}
